*.dll
*.exe
*.exe.config
*.exe.config
*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.xml
*.VC.opendb
*.VC.db
_ReSharper*

bin/
bin.netcore/
obj/
obj.netcore/
packages/
Debug/
Release/
Fluxonaut.Browser/app.aps
debug.log
Fluxonaut.Browser.BrowserSubprocess/Release
Fluxonaut.Browser.BrowserSubprocess/x64/Release
Fluxonaut.Browser.Core/Win32/Release
Fluxonaut.Browser.Core/x64/Release
Fluxonaut.Browser/Win32/Release
Fluxonaut.Browser/x64/Release
Fluxonaut.Browser.BrowserSubprocess.lib
Win32/Release
x64/Release
Win32/Release
.vs/
/Help
/tools